openrouter_base_url=https://openrouter.ai/api/v1 # or any other provider for embeddings
openrouter_api=your-api-key
embedding_model=openai/text-embedding-3-large # or any other embedding model

llm_base_url=your-llm-api-base-url
api_key=your-llm-api-key
api_model=your-api-model

telegram_bot_api = your-telegram-bot-api
telegram_user_id = your-telegram-user-id

LANGFUSE_SECRET_KEY=your-langfuse-secret-key
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key
LANGFUSE_BASE_URL="http://langfuse-web:3000" # do not change unless you have changed name of the web service in the docker compose file

host_data_path = your-path-to-the-shared-data-folder # this folder will be shared with docker container
host_logs_path = your-path-to-the-shared-logs-folder # this folder will be shared with docker container
rec_limit=200 # change if you need different number of recursions