Openrouter_api=YOUR_API_KEY
telegram_bot_api=YOUR_TELEGRAM_BOT_API
telegram_user_id=YOUR_TELEGRAM_USER_ID
container_name=YOUR_DOCKER_CONTAINER_NAME #agent_runner by default in a given Docker run command
